<div class="user-profit-layout">
  <div class="col-md-3">
    <div class="information-image">
      <div class="row1">
        <div class="col-sm-8 col-md-5">
          <a class="thumbnail">
            <label for="upload-photo">
              <img src="../../assets/khanh.jpg" alt="...">
            </label>
            <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
          </a>
        </div>
      </div>
      <div class="name">
        <p>{{user.lastname}} {{user.firstname}}</p>
      </div>
      <div class="username">
        <p>{{user.email}}</p>
      </div>
      <div class="slogan">
        <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="information-image">
      <div class="row1">
        <div class="col-sm-8 col-md-5">
          <a class="thumbnail">
            <label for="upload-photo">
              <img src="../../assets/khanh.jpg" alt="...">
            </label>
            <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
          </a>
        </div>
      </div>
      <div class="name">
        <p>{{user.lastname}} {{user.firstname}}</p>
      </div>
      <div class="username">
        <p>{{user.email}}</p>
      </div>
      <div class="slogan">
        <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="information-image">
      <div class="row1">
        <div class="col-sm-8 col-md-5">
          <a class="thumbnail">
            <label for="upload-photo">
              <img src="../../assets/khanh.jpg" alt="...">
            </label>
            <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
          </a>
        </div>
      </div>
      <div class="name">
        <p>{{user.lastname}} {{user.firstname}}</p>
      </div>
      <div class="username">
        <p>{{user.email}}</p>
      </div>
      <div class="slogan">
        <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="information-image">
      <div class="row1">
        <div class="col-sm-8 col-md-5">
          <a class="thumbnail">
            <label for="upload-photo">
              <img src="../../assets/khanh.jpg" alt="...">
            </label>
            <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
          </a>
        </div>
      </div>
      <div class="name">
        <p>{{user.lastname}} {{user.firstname}}</p>
      </div>
      <div class="username">
        <p>{{user.email}}</p>
      </div>
      <div class="slogan">
        <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="information-image">
      <div class="row1">
        <div class="col-sm-8 col-md-5">
          <a class="thumbnail">
            <label for="upload-photo">
              <img src="../../assets/khanh.jpg" alt="...">
            </label>
            <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
          </a>
        </div>
      </div>
      <div class="name">
        <p>{{user.lastname}} {{user.firstname}}</p>
      </div>
      <div class="username">
        <p>{{user.email}}</p>
      </div>
      <div class="slogan">
        <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
      </div>
    </div>
  </div>
  <div class="clear">
    
  </div>
</div>